* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #2ea899;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: white;
  padding: 25px;
}

.menu_list {
  margin: 0 auto;
}

.timeslot {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  margin-top: 1em;
}
.timeslot input {
  width: 100%;
}

.orderlist {
  width: 50%;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

.order {
  background-color: #336633;
  color: white;
  padding: 1em 0;
  margin: 0.5em 0;
}
.order__table {
  font-size: 1.8em;
  margin-bottom: 0.5em;
}
.order__time {
  font-size: 1.5em;
  margin-bottom: 0.4em;
}
.order__list {
  text-align: left;
  width: 40%;
  margin: auto;
  color: yellow;
  list-style-position: inside;
  list-style-type: none;
}

.Openingsborden {
  display: grid;
  width: 70%;
  grid-template-columns: 50% 50%;
}
.Openingsbord {
  display: grid;
  grid-template-columns: 1fr 50%;
  grid-template-rows: 1fr;
}
.Openingsbord h2 {
  grid-column: 1/span 2;
}
.Openingsbord__figure {
  margin: auto;
  width: 70%;
  grid-column: 1/span 2;
  grid-row: 2/span 3;
}
.Openingsbord__figure img {
  width: 100%;
}
.Openingsbord__changeButton {
  grid-column: 2;
  grid-row: 4;
  width: 70%;
  margin: auto;
  border: none;
  background-color: transparent;
}

.admin_menu_list__link {
  text-decoration: none;
  color: white;
  width: 60%;
  background-color: #336633;
  margin: 1em auto;
  padding: 0.4em 0;
  display: block;
}
.admin_menu_list__div {
  overflow: auto;
  max-height: 60vh;
}
.admin_menu_list__div button {
  border: none;
  background-color: #336633;
  color: white;
  padding: 0.4em 0.6em;
  margin-top: 0.6em;
}
.admin_menu_list__item {
  margin: 35px 35px 0 35px;
  text-align: left;
  color: #002C2D;
  text-decoration: none;
}
.admin_menu_list__item:link {
  text-decoration: none;
}

html, body {
  height: 100vh;
}

.AdminMenuSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.AdminMenuSection__button {
  background-color: #336633;
  color: white;
  display: block;
  border: none;
  font-size: 1.6em;
  width: 100%;
  text-decoration: none;
  padding: 0.4em 0.4em;
}
.AdminMenuSection a {
  width: 50%;
  text-decoration: none;
  margin: 1em 0;
}

.MenuEditBox {
  width: 90%;
  margin: auto;
}
.MenuEditBox h2 {
  margin: 0.5em 0;
  color: #002C2D;
}
.MenuEditBox__Form {
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: left;
}
.MenuEditBox__Form__submit {
  background-color: #336633;
  color: white;
  padding: 0.4em 0.6em;
  border: none;
  margin-bottom: 1em;
  font-size: 1em;
}
.MenuEditBox__Form label {
  margin: 0.5em 0;
  border: 2px solid #336633;
  padding: 0.4em;
  color: #996501;
  font-weight: bold;
}
.MenuEditBox__Form input, .MenuEditBox__Form textarea {
  margin-top: 0.4em;
  display: block;
}

.menu_list__item {
  margin: 35px;
  text-align: left;
}

.sidewaysMenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

.sidewaysMenuButtoncontainer_button {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  display: inline-block;
  background-color: #777;
  float: left;
}

.sidewaysMenuButtoncontainer_button:hover {
  background-color: #ffffff;
}

/*# sourceMappingURL=main.css.map */
