 @import 'variables';

.menu_list{
  width: 70%;
  margin: auto;
  padding-top: 1em;

  & a{
    text-decoration: none;
  }

  &__checkout{
    width: 40% !important;
    font-size: 1.3em !important;
    padding: 10px !important;
    text-decoration: none;
    margin: 1em auto 0 auto !important;
  }

  &__item{
    text-align: left;
    color: #002C2D;
    padding: 15px;
    width: 100%;
    border-top: 4px solid #336633;

    & section{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__title{
      font-size: 32px;
    }

    &__description{
      font-weight: $font_light;
    }

    &__price{
      font-size: 24px;
    }

    &__cart, &__favorite{
      color: white;
      display: none;
      background-color: #336633;
      border: none;
      font-size: 0.8em;
      border-radius: 5px;
      margin: 1em 9% 0 9%;
      width: 100px;
      padding: 10px;
    }

    &__cart:hover{
      background-color: #6BB46B;
    }



    & p:nth-child(odd){
      margin-top: 0.5em;
    }
  }

  &__item:first-child{
    border: none;
  }

  &__cart, &__favorite{
    background-color: $button;
    margin: 10px 9%;
    width: 100px;
    padding: 10px;
  }
}

.showCartButton{
  display: inline-block;
}
@media screen and (max-width: 700px){
    .menu_list{
      width: 90%;

      &__cartButton{
        display: none;
      }
    }


}

.showCartButton{
  display: block;
}
