.OpeningArticle{
  border-top:#000000 solid medium;
  border-bottom:#000000 solid medium;
}

.OpeningArticle__figure{
  width: 25%;
  display: inline-block;
}

.OpeningArticle__figure__img{
  width: 60%;
}
 
