.menulist_sort{
    margin: 0 0 40px;
    border-radius: 5px;
    border: none;
    
    &__select{
        background-color: #336633;
        color: white;
        padding: 10px;
        border-radius: 5px;
        border: none;
    }

    .menulist_sort__input{
        margin: 0 15px;
        padding: 5px 15px;
        background-color: #996501;
        color: white;
        border-radius: 5px;
        border: none;
    }
}