.tafelcard{
  width: 50%;

  margin: 40px auto 20px;


  &__head{
    width: 100%;
    height: 150px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-around;

    border-radius: 10px;
    overflow: hidden;

    z-index: 2;
    position: relative;

    &__infoContainer{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      width: 20%;

      &__text{
        font-family: 'Abel', sans-serif;
        width: 100%;
        text-align: center;

        &--label{
          font-weight: bold;
        }
      }
    }

    &__continue{
      width: 150px;
      height: 100%;
      position: relative;
      right: 0px;
      top: 0px;

      border: none;
      background-color: #2EA899;

      transform: translateX(50%);

      transition: 0.5s all;

        &__text{
          font-size: 50px;
          font-family: 'Abel', sans-serif;

          transition: 0.5s all;

          display: block;
          pointer-events: none;

          &--selected{
            transform: rotate(90deg);
          }
        }

      &:hover{
        background-color: #278E82;
        font-size: 55px;
      }
    }
  }

  &__dropdown{
    width: 98%;
    height: 0px;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    margin: -20px auto 0;
    position: relative;
    z-index: 1;

    background-color: white;

    transition: 0.5s all;

    display: flex;
    justify-content: space-around;
    align-items: center;

    &--open{
      height: 200px;
      padding: 40px;
    }

    &__inputContainer{
      width: 30%;
      display: flex;
      justify-content:center;
      align-items: center;
      flex-wrap: wrap;

      &__label{
        width: 100%;

        font-family: 'Abel', sans-serif;
        font-weight: bold;
      }

      &__input{
        width: 100%;
        padding: 20px;
        font-family: 'Abel', sans-serif;
        cursor: pointer;
      }
    }

    &__submit{
      padding: 20px;
      width: 250px;

      font-size: 20px;

      background-color: #2EA899;

      border: none;
      border-radius: 5px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

      height: 68px;

      &:hover{
        background-color: #278E82;
      }
    }
  }

}

@media only screen and (max-width: 600px){
  .tafelcard{
    width: 95%;

    &__head{
      &__infoContainer{
        margin-left: 10px;
      }

      &__continue{
        width: 100px;
        right: 30px;
      }
    }

    &__dropdown{
      flex-wrap: wrap;

      &__inputContainer{
        width: 100%;
        margin-top: 20px;
      }

      &--open{
        height: 375px;
      }

      &__submit{
        margin: 0 auto;
        height: 60px;
        padding: 15px;
      }
    }
  }
}
